[project]
name = "src"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    "django>=4.2.27",
    "django-ninja>=1.4.5",
    "pytest>=8.3.5",
]
